.container {
  border: solid black;
  width: 600px;
}

.rectangle {
  border: solid black;
  width: 350px;
  background-color: lightgrey;
  text-align: center;
  padding: 100px;
  font-weight: bold;
}

.element {
  margin: 20px;
}
